* {
  box-sizing: border-box;
  margin: 10;
  padding: 10;
  font-family: monospace;
}

body {
  background: linear-gradient(
    90deg,
    rgb(16, 255, 108) 0%,
    rgb(255, 100, 196) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 650px;
  background: #27162b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: rgba(255, 255, 255, 0.89);
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.7;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #8eff0c;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(255, 255, 255);
}

.todo-input::placeholder {
  color: #e2e2e28f;
}

.todo-button {
  padding: 20px;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(255, 12, 255) 0%,
    rgb(0, 250, 21) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #14ff7e;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgba(255, 255, 255, 0.418);
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(112, 255, 17, 0.527) 100%
  );

  padding: 20px;
  border-radius: 9px;
  width: 95%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(255, 121, 12) 0%,
    rgb(112, 42, 156) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgb(190, 18, 110) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(19, 142, 230) 0%,
    rgb(42, 14, 141) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgba(122, 33, 33, 0.623);
}

.edit-icon {
  color: rgba(255, 255, 255, 0.61);
}
